name: Rust CI

on:
    push:
        branches: [main, staging, trying, wasm_ci]
    pull_request:
        branches:
            - "**"

env:
    CARGO_TERM_COLOR: always
    SQLX_OFFLINE: true

jobs:
    checks:
        strategy:
            matrix:
                os: [ubuntu-latest]
                rust-version: [nightly]
                checks:
                    - advisories
                    - bans licenses sources
        name: Cargo clippy & deny on ${{ matrix.os }} with rust ${{ matrix.rust-version }}
        runs-on: ${{ matrix.os }}
        continue-on-error: ${{ matrix.checks == 'advisories' }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: ${{ matrix.rust-version }}
                  components: clippy
            - uses: Swatinem/rust-cache@v1
            - name: Run cargo-clippy on rust ${{ matrix.rust-version }}
              uses: actions-rs/clippy-check@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  args: ${{ env.FEATURE_FLAGS }}
            - name: Run cargo-deny on rust ${{ matrix.rust-version }}
              uses: EmbarkStudios/cargo-deny-action@v1
              with:
                  command: check ${{ matrix.checks }}
                  arguments: ${{ env.FEATURE_FLAGS }}

    build:
        strategy:
            matrix:
                os: [windows-latest, ubuntu-latest, macos-latest]
                rust-version: [nightly]
        name: Build with ${{ matrix.rust-version }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v2
            - name: Setting up toolchain rust ${{ matrix.rust-version }}
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: ${{ matrix.rust-version }}
            - uses: Swatinem/rust-cache@v1
            - name: Build development
              uses: actions-rs/cargo@v1
              with:
                  command: build
                  args: --verbose ${{ env.FEATURE_FLAGS }}

            - name: Build release
              uses: actions-rs/cargo@v1
              with:
                  command: build
                  args: --verbose --release ${{ env.FEATURE_FLAGS }}

    build-wasm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  target: wasm32-unknown-unknown

            - uses: actions/checkout@v2
            - name: "Add target to rustc"
              run: rustup target add wasm32-unknown-unknown

            - name: "Build WASM"
              run: cargo build --release --target wasm32-unknown-unknown

    test:
        strategy:
            matrix:
                rust-version: [nightly]
                os: [windows-latest, ubuntu-latest, macos-latest]
        name: Test with rust ${{ matrix.rust-version }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v2
            - name: Setting up toolchain rust ${{ matrix.rust-version }}
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: ${{ matrix.rust-version }}
            - uses: Swatinem/rust-cache@v1
            - name: Test development
              uses: actions-rs/cargo@v1
              with:
                  command: test
                  args: --verbose ${{ env.FEATURE_FLAGS }}
            - name: Test release
              uses: actions-rs/cargo@v1
              with:
                  command: test
                  args: --release --verbose ${{ env.FEATURE_FLAGS }}

    done:
        name: Done
        needs: [build, build-wasm, test, checks]
        runs-on: ubuntu-latest
        steps:
            - name: Done
              run: echo "Done"
